
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {

  /* Color */
  --primary-color: #573587;
  --primary-color-variant: #684896;
  --secondary-color: #32BAAD;
  --bg-gradient:linear-gradient(90deg, var(--primary-color) , var(--secondary-color) );
  --bg-gradient-hover:linear-gradient(90deg, var(--primary-color-variant) , var(--secondary-color) );

  /* Font and Typography */

  --font-family:'Poppins', sans-serif;

  /* Typography */
  --body-font-regular: 400 16px/24px var(--font-family);
  --body-font-large:400 20px/32px var(--font-family);
  --body-font-small: 400 13px/16px var(--font-family);
  --h1-font: 700 76px/76px var(--font-family);
  --h2-font: 300 61px/62px var(--font-family);
}



html, body,h1,h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background: rgba(112, 67, 163, 0.10);
  padding-bottom: 200px;
}

nav {
  padding: 0 2rem;
  margin-bottom: 4rem;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.158);

}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  font: var(--body-font-large);
  padding: 2rem;
}

.hero {
  width: 70%;
  margin: 0 auto;
}

h1 {
  font: var(--h1-font);
  color: rgba(0, 0, 0, 0.582);  
}

h2 {
  color: transparent;
  font: var(--h2-font);
  background-image: var(--bg-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.mission {
  font:var(--body-font-large);
}

.button {
  padding: 1.2rem 2.4rem;
  background: var(--bg-gradient);
  color: white;
  font: var(--body-font-regular);
  border-radius: 5%;
  border-style: none;
  margin-left: 15%;
  cursor: pointer;
}

.button:hover {
  background: var(--bg-gradient-hover);
}

.button::after {
  content: '';
  background: url(images/arrow-down-outline.svg);
  background-position: center;
  float: right;
  margin-left:1.5rem ;
  margin-top: -2px;
  width: 2rem;
  height: 2rem;
}


.call-to-action {

}

